<!DOCTYPE html>
<html>
<head>
<style>
body {
	background-color: #555;
}

#world {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	margin-top: 50px;
}
h1 {
	color: #fff;
	font-family: Georgia, serif;
}
p {
	color: #fff;
	font-family: Helvetica, sans-serif;
}
</style>
</head>
<body>
<div id="world">
	<h1>Hello, World!</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
</div>
</body>
</html>