<div id="header">
	<h1>Melanie Crissey</h1>
	<nav class="nav" role="navigation">
		<ul>
			<li>
				<a href="/aboutme/index.html">About</a>
			</li>
			<li>
				<a href="/work/index.html">Work</a>
			</li>
			<li>
				<a href="/gallery/index.html">Gallery</a>
			</li>
		</ul>
	</nav>
</div>