<div class="post">
	<h2>Hello, world</h2>
	<p class="date">21 May 2014
	</p>
	<p>
	Today was one of those insanely gorgeous days where I couldn't bring myself to commute into the office or stay at home on the sofa. I had to sit in the sun with a cup of coffee and breathe in the energy of my city.
	</p>
	<p>
	The Atherton Park patio is one of those places that breeds hoards of young creatives. I found myself sitting close enough to a group of young people to listen in on their conversations. 
	</p>
	<img src="http://scontent-a.cdninstagram.com/hphotos-prn/t51.2885-15/10349672_570340416415255_1488187135_n.jpg"/>
	<hr/>
</div>


