<div class="nav">
	<p>
	<ul>
		<li> <a href="https://github.com/MelanieCrissey/">GitHub</a>
		</li>
		<li> <a href="http://www.linkedin.com/in/melaniecrissey">LinkedIn</a>
		</li>
		</li>
	</ul>
	</p>
</div>