<div class="post">
<a href="http://melaniecrissey.vsco.co/">VSCO</a>
<a href="http://instagram.com/melaniecrissey"/>instagram</a>
</div>

<% @images.each do | image | %>
<%= image_tag (image.file_name) %>
<%= image.name %>
<%= image.description %>
<% end %>