<div id="gallery-body">
<% @images.each do | image | %>
<%= image_tag image.image.url() %>
<%= image.name %>
<% end %>
</div>
<div id="testing">
<img src="http://s3.amazonaws.com/butterfinger/gate.jpg"/>
</div>
