<div id="gallery-body">
<img src="/assets/home.jpg"/>
<p class="description">home</p>
<img src="/assets/honeysuckle.jpg"/>
<p class="description">honeysuckle</p>
<img src="/assets/hosta&ferns.jpg"/>
<p class="description">hosta & ferns</p>
<img src="/assets/path.jpg"/>
<p class="description">path</p>
<img src="/assets/pond.jpg"/>
<p class="description">pond</p>
<img src="/assets/porch.jpg"/>
<p class="description">porch</p>
<img src="/assets/power.jpg"/>
<p class="description">power</p>
<img src="/assets/rhododendron.jpg"/>
<p class="description">rhododendron</p>
<img src="/assets/spaniel.jpg"/>
<p class="description">spaniel</p>
<img src="/assets/sun.jpg"/>
<p class="description">sun</p>
</div>

