<div class="post">
	<h2>Confidence in Me</h2>
	<p class="date">23 May 2014
	</p>
	<p>
	Yesterday Tavi Gevinson posted a snippet of text on Instagram:</p>

	<iframe class="frame" src="//instagram.com/p/oTgYzHG_Qc/embed/" width="100%" height="710px"frameborder="0" scrolling="no" allowtransparency="true"></iframe>

<p>My reaction: “Whoa. If women only feel confident when they’re practically perfect, most women must <i>never</i> feel truly confident. Maybe Mary Poppins. The rest of us are doomed.”</p>

<img src="/assets/practicallyperfect.jpg"/>

<p>Tavi’s caption: “This is why I start every morning with M.I.A <img style="width: 18px; height: 18px;" src="/assets/gold-star.png"/>"</p>

<img src="/assets/bad-girls.jpg"/> 

<p>(Excuse me while I add all the M.I.A. songs to my <i><a href="http://open.spotify.com/user/1216657104/playlist/3gB0VbAyNg02B62tLw8pyE">Do Work</a></i> playlist.)</p>

<p>The pictured excerpt is a bit of an article titled <i><a href="http://www.theatlantic.com/features/archive/2014/04/the-confidence-gap/359815/" />The Confidence Gap</a></i> that was published in The Atlantic last month. Key takeaways:</p>

<ul>
<li class="bullet"><b>Don't fake confidence.</b> People react positively to genuine overconfidence and negatively to insincere displays of confidence.</li>
<li class="bullet"><b>Don't seek perfection.</b> Perfectionism breeds inaction. I quote Queen Bey, “Perfection is a disease of a nation.”</li>
<li class="bullet"><b>Don't blame yourself.</b> External attribution (“That test was hard!”) makes us resilient, while internal attribution (“I’m so bad at taking tests.”) holds us back.</li>
<li class="bullet"><b>Ladies: Speak less.</b> Both men and women perceive female <a href="http://www.merriam-webster.com/dictionary/volubility">volubility</a> as a sign of weakness, while expecting successful men to speak more.</li>
<li class="bullet"><b>Do more.</b> We build genuine confidence through successes and failures. Stop overthinking things and just do something.</li>
</ul>

<p>“Speak less” is challenging advice. It's also the last thing you want to hear when you’ve finally worked up the courage to do something… <i>like</i>… <i>I don’t know</i>… <b>start blogging.</b></p>

<p>Henceforth I pledge brevity. Here’s to making every word count.</p>

<p>Cheers, y'all!</p>
<hr/>
<div class="back">
	<a href="/blog/index/">&#8249 Back</a>
</div>
</div>
