<div class="post">
	<h2>What You Love</h2>
	<p class="date">30 May 2014
	</p>
	<p>
	<b>Do what you love:</b> the ubiquitous mantra of start-up land.
	</p>
	<p>
 This morning one of my favorite people in the world posted this comment on social media:
 </p>

<img class="centerly" src="/assets/lifeistooshort.jpg"/>

<p>At first I was like: </p>

<img src="/assets/Preach.gif"/>

<p>Then I remembered that a writer for Slate made a <a href="http://www.slate.com/articles/technology/technology/2014/01/do_what_you_love_love_what_you_do_an_omnipresent_mantra_that_s_bad_for_work.html">compelling case</a> that this mentality devalues labor.</p>

<p>Honest talk: I feel remarkably lucky and grateful that I love what I do, love where I work, and also love the people with whom I work. <b>Do what you love</b> is not my mantra.<p>

<p>My mantra? <b>Don’t do anything you don’t want to do.</b></p>

<p>If a task is not important and you don’t want to do it, don't. If the task is important enough that it <i>needs</i> to get done, it’s probably part of something greater that you genuinely want to do.</p>

<p>Case in point: I <i>loathe</i> Chaturanga Dandasana.<p> 

<img class="center" src="/assets/trex.jpg"/>

<p>I’ve never had great upper body strength. (Monkey bars? Forget about it). Hovering over the ground with my arms bent is uncomfortable. My mind starts racing, “Are my arms bent enough? How long do I have to stay here?”</p>

<p>But, I <i>love</i> <a href="http://www.yogajournal.com/practice/928">sun salutations</a>. I love how powerful and peaceful I feel when I’ve made it through a sequence. When I remember that chaturanga is part of the sun salutation - just a stop on the way to the rest of the joy - then I acknowledge that I truly, deeply want to chaturanga.</p>

<p>Even if we don’t have the luxury of doing what we love 100% of the time, we can decide to love what we do - if it’s worth it.</p>

<hr/>
<div class="back">
	<a href="/blog/index/">&#8249 Back</a>
</div>
</div>
