#header {
	width: 100%;
	text-align: center;
	color: #333;
}

.nav ul {
	margin-left: -40px;
}

.nav li {
	display: inline;
	padding: 0 10px 0 10px;
	color: #333;
	font-family: 'Puritan', sans-serif;
}

.nav a, a.tab, .nav a:visited, a.tab:visited {
		color: #333;
		padding-bottom: 6px;
		font-size: 18px;
}

.nav a:hover, .tab:hover {
	border-bottom: 3px solid #FF3900;
	padding-bottom: 6px;
}

a {
	text-decoration: none;
	color: #086CA2;

}
a:visited {
	color: #034569;
}

div {
	width: 100%;
}

div.post {
	max-width: 320px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;

}
div.post > a, div.tab-content > a {
		display: block;
		color: #3C9DD0;
}


a.selected {
	 border-bottom: 3px solid #A62500;
}

body {
	background-color: #fff;
}

h1 {
	color: #333;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: bold;
}

h2 {
	color: #333;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	text-align: center;
}

p, label {
	color: #333;
	font-family: 'Avenir', sans-serif;
}
ul {
	color: #333;
	list-style-type: none;
	font-family: 'Avenir', sans-serif;
}
.tab-content {
	display: none;
}

.show {
	display: block;
}

/* media queries start here */ 

@media only screen and (max-width : 320px) {
	h1 {font-size: 36px;}
	h2 {font-size: 20px;}
	body {max-width: 300px;}
	div.post {padding: 5px;}
	.nav li {display: block;}
	img { max-width: 300px;}
}

/* form styles start here */ 
input[type="submit"] {
	display: block;
	width: 100px;
	background-color: #fff;
	color: #333;
	border-bottom: 3px solid #086CA2;
	border-right: none;
	border-top: none;
	border-left: none;
	font-size: 14px;
	padding-bottom: 6px;
	cursor: pointer;

}
form label, form input {
	display:block;
	width: 100%;
	margin: 10px 0 10px 0;
}

/* gallery styles start here */ 
#gallery-body {
	max-width: 600px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 40px;
}

img {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.description {
	font-size: 18px;
	text-align: center;
}


