#header {
	width: 100%;
	text-align: center;
	padding: 10px;
	color: #333;
}

.nav ul {
	margin-left: -40px;
}

.nav li {
	display: inline;
	padding: 10px;
	color: #333;
}

@media only screen and (max-width : 320px) {
	.nav li {display: block;
	}
}


div {
	width: 100%;
}

div.post {
	width: 234px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
div.post > a {
		display: block;
		color: #3C9DD0;
}

a, a:visited {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 2px;
	color: #333;
}
a:hover {
	border-bottom: 2px solid #FF3900;
}

a.selected {
	 border-bottom: 3px solid #A62500;
}

body {
	background-color: #fff;
}

@media only screen and (max-width : 320px) {
	body {max-width: 300px;
	}
}


h1 {
	color: #333;
	font-family: 'Playfair Display';
	font-size: 40px;
	font-weight: bold;
}

@media only screen and (max-width : 320px) {
	h1 {font-size: 34px;}
}
p {
	color: #333;
	font-family: 'Open Sans', sans-serif;
}
ul {
	color: #333;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}
