#header {
	width: 100%;
	text-align: center;
	padding: 10px;
	color: #333;
}

.nav ul {
	margin-left: -40px;
}

.nav li {
	display: inline;
	padding: 10px;
}

.nav li > a {
	color: #333;
}

div {
	width: 100%;
}

div.post {
	width: 234px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
div.post > a {
		display: block;
}

a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 2px;
	color: #3C9DD0;
}

a.selected {
	 border-bottom: 3px solid #A62500;
	 color: #333;
}

body {
	background-color: #fff;
}

h1 {
	color: #333;
	font-family: 'Playfair Display';
	font-size: 40px;
	font-weight: bold;
}
p {
	color: #333;
	font-family: 'Open Sans', sans-serif;
}
ul {
	color: #333;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}
