<div class="about">
	<p>
	<ul>
		<li> <a href="https://twitter.com/MelanieCrissey">Twitter</a>
		</li>
		<li> <a href="https://github.com/MelanieCrissey/">GitHub</a>
		</li>
		<li> <a href="www.linkedin.com/in/melaniecrissey/">LinkedIn</a>
		</li>
		<li> <a href="http://melaniecrissey.vsco.co/">VSCO</a>
		</li>
	</ul>
	</p>
</div>