<div class="post">
<img class="" src="/assets/wall.jpg"/>
	<h2>
	Oh, hello.
	</h2>
	<h3>
	Welcome to my humble corner of the interweb.
	</h3>
	<p>
	My name is Melanie. I'm a writer and a web developer. I build neat things.
	</p>
	<p>
	I work with Rigor in the Atlanta Tech Village and I co-founded the Marietta Tribune with my man-friend, Alan.
	</p>
	<p>
	When I'm not working I like to cook, hike, and practice yoga.
	</p>
	<p>
	Sometimes I tweet and post photos on Instagram. And, by <i>sometimes</i> I mean <i>most days.</i>
	</p>
	<p>
	This blog started as my homework for Tech Talent South. My posts here are personal.
	</p>
	<hr/>
</div>

