<div class="post">
	<h2>
	Oh, hello.
	</h2>
	<p>
	My name is Melanie. I'm a writer and a web developer. I build neat things.
	</p>
	<p>
	I work with <a target="_blank" href="http://rigor.com">Rigor</a> in the <a target="_blank" href="http://atlantatechvillage.com/">Atlanta Tech Village</a> and I co-founded the <a target="_blank" href="http://mariettatribune.com">Marietta Tribune</a> with my man-friend, <a target="_blank" href="http://alancrissey.com">Alan</a>.
	</p>
	<p>
	When I'm not working I like to cook, hike, and practice yoga.
	</p>
	<p>
	Sometimes I <a target="_blank" href="https://twitter.com/MelanieCrissey">tweet</a> and post photos on <a target="_blank" href="http://instagram.com/melaniecrissey">Instagram</a>. I also have an <a target="_blank" href="mailto:melaniecrissey@gmail.com">email address</a>.
	</p>
	<p>
	This blog started as my homework for <a target="_blank" href="http://techtalentsouth.com/#!/">Tech Talent South</a>. My posts here are personal.
	</p>
	<hr/>
</div>
