	<link href="/assets/helloWorld.css" rel="stylesheet" type="text/css">

		<div id="world">
			<ul>
				<li>
					<p class="list">Hi, I'm Melanie</p>
				</li>
				<li>
					<p class="list">I like HTML/CSS</p>
				</li>
				<li>
					<p class="list">You can find me: @melaniecrissey</p>
				</li>
			</ul>
			<img id="profilePicture" src="/assets/SameTimeLastYear.jpg"/>
		</div>

