<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/helloWorld.css" rel="stylesheet" type="text/css">
		<style>
		#profilePicture {
			width: 300px;
			height: 300px;
		}
		</style>
	</head>
	<body>
		<div id="aboutMe">
			<ul>
			<li>
			<p>Hi, I'm Melanie</p>
			</li>
			<li>
			<p>I like HTML/CSS</p>
			</li>
			<li>
			<p>You can find me: @melaniecrissey</p>
			</li>
			</ul>
			<img id="profilePicture" src="https://scontent-b.xx.fbcdn.net/hphotos-frc3/t1.0-9/s720x720/536361_593391150690635_256870809_n.jpg"/>
		</div>
	</body>
</html>