<script>
$(function () {
    $('.tab').on('click', function(vent) {
    	vent.preventDefault();
    	var tabContent = $(this).attr('href');
    	$(tabContent).addClass('show').siblings().removeClass('show');
    	$(this).addClass('selected').siblings().removeClass('selected');
    });

});
</script>

<div class="post">
	<h2><a class="tab selected" href="#personally">Personally</a> / <a class="tab" href="#professionally">Professionally</a></h2>
	<div class="tab-content show" id="personally">
		<p>
			Hi, I'm Melanie. I love learning new things and writing stories. 
		</p>
		<p>
			I live in a swell Southern town with my <a href="http://alancrissey.com/about">man-friend</a> and two sweet, old dogs.
		</p>
		<p>
			My friends and I founded the <a href="http://mariettatribune.com/">Marietta Tribune</a> to promote people and businesses in our neighborhood.
		</p>
		<p>
			I enjoy good food, good music, and good company. I like my wine dry, my beer bitter, and my whiskey neat. I practice yoga and hike small mountains.
		</p>
		<p>
			My mother named me after a pale-faced, mealy-mouted ninny, but I think of myself as a culturally-Baptist, feminist-idealist lady-human.
		</p>
	</div>
	<div class="tab-content" id="professionally">
		<p>
			Hi, I'm Melanie. I love learning new things and writing code.
		</p>
		<p>
			I work with <a href="http://rigor.com/">Rigor</a> in the <a href="http://atlantatechvillage.com/">Atlanta Tech Village.</a>
		</p>
		<p>
			I care about user experience and I believe great marketing starts with great customer service.
		</p>
		<p>
			I feel extraordinarily lucky that I'm able to do fulfilling work with incredible people every day. I want to help other people find work they love in their fields of choice, and I'm especially interested in supporting women who want to work in technology.
		</p>
		<p>
			This website started as my homework for <a href="http://techtalentsouth.com/#!/">Tech Talent South.</a> I built this site with HTML, CSS, Javascript, and Ruby on Rails.</a>
		</p>

	</div>
