<div class="post">
		<p>
			Hi, I'm Melanie. I love learning new things and writing stories. 
		</p>
		<p>
			This website started as my homework for <a href="http://techtalentsouth.com/#!/">Tech Talent South.</a> I built this site with HTML, CSS, Javascript, and Ruby on Rails.</a>
		</p>
	</div>
